.buttons-div
    position: fixed
    right: 5px
    bottom: 30px
    display: flex
    flex-direction: column
    gap: 5px
    align-items: center
    padding: 5px
    button
        width: 45px !important
        height: 45px !important
        min-width: 45px !important
        font-size: 11px
        background-color: #ffffffef
        border-radius: 50% !important
        color: #006A7A
        font-family: 'Libre Caslon Text', serif !important
        &:hover
            background-color: #ededed !important
        svg
            font-size: 30px !important
        span
            margin: 0 !important
.about-us
    font-size: 10px
    line-height: 10px
@media screen and (min-width:600px)
    .about-us-div
        right: 5%
