.buttons-div
    position: fixed
    right: 5px
    bottom: 30px
    display: flex
    flex-direction: column
    gap: 5px
    button
        width: 40px !important
        height: 40px !important
        min-width: 40px !important
        font-size: 11px
        background-color: #ffffffef
        border-radius: 50% !important
        color: #006A7A
        font-family: 'Libre Caslon Text', serif !important
        &:hover
            background-color: #ededed !important
        svg
            font-size: 28px !important
@media screen and (min-width:600px)
    .about-us-div
        right: 5%
